.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-bottom: 250px;
}
@media only screen and (max-width: 1200px) {
    .about-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        margin-bottom: 250px;
    }
   
   }