.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.pointer {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .footer-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
    .footer-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1900px) {
    .footer-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}