.user-card-group{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
@media only screen and (max-width: 850px) {
    .user-card-group{
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
   }
  
   @media only screen and (min-width: 851px) and (max-width: 1210px) {
    .user-card-group{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
   }
   @media only screen and (min-width: 1211px) and (max-width: 1800px) {
    .user-card-group{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
   }
  